<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <!-- <link integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
     <link integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
     <link rel="stylesheet" href="/css/header.css" />
     <link rel="stylesheet" href="/css/food-list.css" />
     <link rel="stylesheet" href="/css/checkout.css" />
     <script src="/js/food-list.js"></script>
     <script src="/js/checkout.js"></script> -->
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="/static/css/demo.css">
     <title>Hello, world!</title>
</head>

<style>
     body {
       background-image: url('/static/images/cover_bg_5.jpg');
     }
</style>

<body>
     <!-- <nav th:replace="layout :: header"></nav> -->
     <!--CHECKOUT SECTION START HERE-->
     <div class="container">
          <div class="card-right">
               <div class="w3-panel w3-card w3-blue"><p>abdsadjsadjaabdsadjsadja abdsadjsadja abdsadjsadja abdsadjsadja abdsadjsadja abdsadjsadja abdsadjsadja abdsadjsadja  </p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
               <div class="w3-panel w3-card w3-blue"><p>w3-card</p></div>
          </div>

          <!-- <div class="card-left">
                    <img src="./static/images/test.png" 
                    width="400" 
                    height="235" 
                    alt="Picture of Theodore Roosevelt"> 
          </div> -->
     </div>

     
     <!-- Optional JavaScript -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
     </script>

     <script src="js/popper.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/vue/vue.js"></script>
     <script src="js/vue/component.js"></script>
     <script src="js/data.js"></script>
     <script src="js/wow.min.js"></script>
</body>
</html>

