<!doctype html>

<div class="container py-5">
    <header class="text-white text-center">
        <h1 class="display-4">Demo nhận diện chữ trong hình ảnh</h1>
        <p class="lead mb-0">Sinh viên thực hiện: 15520994 - Nguyễn Quốc Tuyến</p>
        <p class="lead mb-0">Giảng viên hướng dẫn: TS. Huỳnh Ngọc Tín - ThS. Đỗ Văn Tiến</p>
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" style="margin-top: 30px" alt="" width="150" class="mb-4">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        
        <!-- Alert popup -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="/static/css/home.css">
        <link rel="stylesheet" href="/static/css/loader.css">
        <script src="static/js/home.js"></script>
        <link href="/static/css/templatemo_style.css" rel="stylesheet">

    </header>
   
   

    <div class="row py-4">
        
        <div class="col-lg-6 mx-auto" id="header-container">
            
            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" type="file" onchange="uploadFile(this);" class="form-control border-0" accept=".png, .jpg, .jpeg">
                <label id="upload-label" for="upload" class="font-weight-light text-muted label-center">Chọn hình ảnh</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4 label-center"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Browser</small></label>
                </div>
            </div>
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <label class="font-weight-light text-muted label-center" style="margin: auto; margin-left: 10px;">URL:</label>
                <input id="url" name="url" type="text" class="form-control border-0">
                <div class="input-group-append" onclick="submit_url($('#url')[0].value)">
                    <label class="btn btn-light m-0 rounded-pill px-4 label-center"><small class="text-uppercase font-weight-bold text-muted">Submit</small></label>
                </div>
            </div>

            <div class="content team horizontal-scroll" id="page1">
                <div class="hexagon_container" onclick="submit_default_img('./static/images/1.jpg')">
                    <div class="hexagon-in2" style="background-image:url(/static/images/1.jpg);"></div>
                </div>
                <div class="hexagon_container" onclick="submit_default_img('./static/images/2.jpg')">
                    <div class="hexagon-in2" style="background-image:url(/static/images/2.jpg);"></div>
                </div> 
                <div class="hexagon_container" onclick="submit_default_img('./static/images/3.jpeg')">
                    <div class="hexagon-in2" style="background-image:url(/static/images/3.jpeg);"></div>
                </div> 
            </div>	
           
            <!-- Uploaded image area-->
            <div id="review-container" class="col-lg-12 mx-auto">
                <div id="loader" class="loader" style='display: none'></div>
                <div class="image-area">
                    <p id="review-text" style="margin: auto; color: white; text-align: center;">HÌNH ẢNH TẢI LÊN</p>
                    <img id="imageReview" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                </div>
            </div>
        </div>

        
        <!-- Recognized image results-->
        <div class="container-main" id="process-container" style="display: none;">
            <div class="container-left">
                <div class="image-area">
                    <canvas id="canvas" class="img-fluid rounded shadow-sm mx-auto d-block"> </canvas>
                    <!-- <img id="image-processing" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"> -->
                </div>
            </div>


            <div class="container-right">
                    <div class="main-menu" id="result">
                    </div>
            </div>
        </div>
    </div>
</div>
